
.primary-bg-color {
    background-color: #fff !important;
}

section#main-body {
    background-color: #fff !important;
}

header.header .main-navbar-wrapper {
    background-color: #1e2c55 !important;
}

#pn2021-hero {
    padding: 70px 30px;
}

.dropdown-menu {
    background-color: #233469 !important;
}

.dropdown-item:hover {
    color: #1e2c55 !important;
}